In [1]:
# import dependencies
import pandas as pd
import json
import requests
from sqlalchemy import create_engine
from config import wlm_api, myPass
from pandas.io.json import json_normalize
import time

In [2]:
# Walmart api key from config file
apiKey = wlm_api

In [3]:
# api Call to walmart for the product selected 20 max on 1 call
product_api = (f"http://api.walmartlabs.com/v1/items?ids=51800359,986978174,42490113,317677075,545584365,55449983,38676400,189542267,55420123,38317400,275846958,50820749,47090515,39073013,878167&apiKey={apiKey}&lsPublisherId=").format(apiKey)

In [4]:
# request call to APU
response = requests.get(product_api)
productList = response.json()
# convert api call to DataFrame
productList = pd.DataFrame.from_dict(productList['items'], orient='columns', dtype=None)
# Grab data desired and use as column name
productList = productList[['itemId', 'name', 'salePrice', 'clearance', 'stock']]
# display the dataframe
productList

,itemId,name,salePrice,clearance,stock
0,51800359,Mr. Coffee 12 Cup Programmable Black Coffee Maker,24.94,False,Available
1,986978174,"Power 6-Quart AirFryer Oven Plus, Black",129.00,False,Available
2,42490113,Haier 2.7 Cu Ft Single Door Compact Refrigerat...,109.00,False,Available
3,317677075,"SAMSUNG 82"" Class 4K Ultra HD (2160P) HDR Smar...",5997.99,False,Available
4,545584365,DJI Mavic 2 Pro,1417.18,False,Available
5,55449983,"Nintendo Switch Console with Gray Joy-Con, HAC...",299.00,False,Available
6,38676400,Yodelling Pickle Musical Toy,12.29,False,Available
7,189542267,"VIZIO SmartCast 38"" 3.1 Channel Soundbar Syste...",138.00,False,Not available
8,55420123,MEGA BOXING GLOVES,5.92,False,Not available
9,38317400,"Mainstays 8-Cube Bookcase, White or Espresso",79.80,False,Available
10,275846958,Everyday Essentials All-Purpose 1/2-Inch High ...,12.99,False,Available
11,50820749,Canon Black EOS Rebel T6 EF-S IS Digital Camer...,399.99,False,Available
12,47090515,Char-Broil Signature TRU-Infrared 3 Burner Gas...,465.48,False,Available
13,39073013,ESPN Official Size Table Tennis Table with Tab...,349.00,False,Available
14,878167,"Radio Flyer, Classic Red Dual Deck Tricycle, 1...",87.51,False,Available

In [5]:
# create a list of the items for api call loop
itemId = [51800359,986978174,42490113,317677075,545584365,55449983,38676400,189542267,55420123,38317400,
              275846958,50820749,47090515,39073013,878167]
items = []
# review_product_api
for item in itemId:
    url = 'http://api.walmartlabs.com/v1/reviews/' + str(item) + '?apiKey=' + str(apiKey) + '&lsPublisherId=&format=json'
    response = requests.get(url)
    prodReview = response.json()
    time.sleep(2)
#         json.dumps(response)
    items.append(prodReview)

In [6]:
# convert api call to DataFrame
prodReview = pd.DataFrame.from_dict(items, orient='columns', dtype=None)
# Grab data desired and use as column name
prodReview = prodReview[['itemId','reviewStatistics']]
for kwy in prodReview:
    print(kwy)

itemId
reviewStatistics

In [7]:
reviewStats = prodReview['reviewStatistics'].apply(pd.Series)
reviewStats

,averageOverallRating,overallRatingRange,ratingDistributions,totalReviewCount
0,3.83,5,"[{'count': '165', 'ratingValue': '1'}, {'count...",888
1,3.81,5,"[{'count': '34', 'ratingValue': '1'}, {'count'...",188
2,4.33,5,"[{'count': '23', 'ratingValue': '1'}, {'count'...",421
3,4.29,5,"[{'count': '1', 'ratingValue': '1'}, {'ratingV...",17
4,4.5,5,"[{'ratingValue': '1'}, {'ratingValue': '2'}, {...",2
5,4.68,5,"[{'count': '6', 'ratingValue': '1'}, {'ratingV...",182
6,5.0,5,"[{'ratingValue': '1'}, {'ratingValue': '2'}, {...",1
7,4.33,5,"[{'count': '13', 'ratingValue': '1'}, {'count'...",178
8,2.5,5,"[{'count': '5', 'ratingValue': '1'}, {'count':...",10
9,4.28,5,"[{'count': '19', 'ratingValue': '1'}, {'count'...",223
10,4.72,5,"[{'count': '1', 'ratingValue': '1'}, {'ratingV...",53
11,4.45,5,"[{'count': '2', 'ratingValue': '1'}, {'count':...",58
12,4.57,5,"[{'ratingValue': '1'}, {'count': '1', 'ratingV...",63
13,4.21,5,"[{'count': '8', 'ratingValue': '1'}, {'count':...",97
14,4.79,5,"[{'ratingValue': '1'}, {'ratingValue': '2'}, {...",57

In [8]:
prodRatingOver = pd.concat([prodReview, reviewStats], axis=1)
prodRatingOver = prodRatingOver[['itemId', 'averageOverallRating', 'overallRatingRange', 'totalReviewCount']]
prodRatingOver

       itemId averageOverallRating overallRatingRange totalReviewCount
0    51800359                 3.83                  5              888
1   986978174                 3.81                  5              188
2    42490113                 4.33                  5              421
3   317677075                 4.29                  5               17
4   545584365                  4.5                  5                2
5    55449983                 4.68                  5              182
6    38676400                  5.0                  5                1
7   189542267                 4.33                  5              178
8    55420123                  2.5                  5               10
9    38317400                 4.28                  5              223
10  275846958                 4.72                  5               53
11   50820749                 4.45                  5               58
12   47090515                 4.57                  5               63
13   39073013                 4.21                  5               97
14     878167                 4.79                  5               57

In [9]:
mergedDF = pd.merge(productList, prodRatingOver, on='itemId')
mergedDF

,itemId,name,salePrice,clearance,stock,averageOverallRating,overallRatingRange,totalReviewCount
0,51800359,Mr. Coffee 12 Cup Programmable Black Coffee Maker,24.94,False,Available,3.83,5,888
1,986978174,"Power 6-Quart AirFryer Oven Plus, Black",129.00,False,Available,3.81,5,188
2,42490113,Haier 2.7 Cu Ft Single Door Compact Refrigerat...,109.00,False,Available,4.33,5,421
3,317677075,"SAMSUNG 82"" Class 4K Ultra HD (2160P) HDR Smar...",5997.99,False,Available,4.29,5,17
4,545584365,DJI Mavic 2 Pro,1417.18,False,Available,4.5,5,2
5,55449983,"Nintendo Switch Console with Gray Joy-Con, HAC...",299.00,False,Available,4.68,5,182
6,38676400,Yodelling Pickle Musical Toy,12.29,False,Available,5.0,5,1
7,189542267,"VIZIO SmartCast 38"" 3.1 Channel Soundbar Syste...",138.00,False,Not available,4.33,5,178
8,55420123,MEGA BOXING GLOVES,5.92,False,Not available,2.5,5,10
9,38317400,"Mainstays 8-Cube Bookcase, White or Espresso",79.80,False,Available,4.28,5,223
10,275846958,Everyday Essentials All-Purpose 1/2-Inch High ...,12.99,False,Available,4.72,5,53
11,50820749,Canon Black EOS Rebel T6 EF-S IS Digital Camer...,399.99,False,Available,4.45,5,58
12,47090515,Char-Broil Signature TRU-Infrared 3 Burner Gas...,465.48,False,Available,4.57,5,63
13,39073013,ESPN Official Size Table Tennis Table with Tab...,349.00,False,Available,4.21,5,97
14,878167,"Radio Flyer, Classic Red Dual Deck Tricycle, 1...",87.51,False,Available,4.79,5,57

In [10]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import mysql.connector
from mysql.connector import errorcode

# Update your password in the config file to RUN

In [11]:
# mySql Pass word 
myPas = myPass

In [12]:
# Create Connection to MYSQL
try:
    conn = mysql.connector.connect(
        host='localhost', user='root', password=myPas)
    mycursor = conn.cursor()
    # Error out if something happens and step out
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
else:
    # Drop table if Exists
    sqlDrop = 'DROP DATABASE IF EXISTS shopsmarter'

In [13]:
mycursor.execute(sqlDrop)

In [14]:
mycursor.execute('CREATE DATABASE shopsmarter')

In [15]:
database_username = 'root'
database_password = myPas
database_ip       = '127.0.0.1'
database_name     = 'shopsmarter'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name), pool_recycle=1, pool_timeout=57600).connect()
# Create Prodcut list Table in Database from the product list dataframe
productList.to_sql(con=database_connection, name='productlist', if_exists='replace')

In [16]:
# set couple parameters to verify data on Database
sqlQPL = 'SELECT * FROM productlist'
shDB = 'USE shopsmarter'

In [17]:
# Set out Database 
mycursor.execute(shDB)

In [18]:
# Select data from the productlist Table 
mycursor.execute(sqlQPL)

In [19]:
# Verify the data set
myresult = mycursor.fetchall()

In [20]:
# loop through the data set
for x in myresult:
  print(x)

(0, 51800359, 'Mr. Coffee 12 Cup Programmable Black Coffee Maker', 24.94, 0, 'Available')
(1, 986978174, 'Power 6-Quart AirFryer Oven Plus, Black', 129.0, 0, 'Available')
(2, 42490113, 'Haier 2.7 Cu Ft Single Door Compact Refrigerator HC27SW20RB, Black', 109.0, 0, 'Available')
(3, 317677075, 'SAMSUNG 82" Class 4K Ultra HD (2160P) HDR Smart QLED TV QN82Q90R (2019 Model)', 5997.99, 0, 'Available')
(4, 545584365, 'DJI Mavic 2 Pro', 1417.18, 0, 'Available')
(5, 55449983, 'Nintendo Switch Console with Gray Joy-Con, HACSKAAAA', 299.0, 0, 'Available')
(6, 38676400, 'Yodelling Pickle Musical Toy', 12.29, 0, 'Available')
(7, 189542267, 'VIZIO SmartCast 38" 3.1 Channel Soundbar System - SB3831-D', 138.0, 0, 'Not available')
(8, 55420123, 'MEGA BOXING GLOVES', 5.92, 0, 'Not available')
(9, 38317400, 'Mainstays 8-Cube Bookcase, White or Espresso', 79.8, 0, 'Available')
(10, 275846958, 'Everyday Essentials All-Purpose 1/2-Inch High Density Foam Exercise Yoga Mat Anti-Tear with Carrying Strap, Blue', 12.99, 0, 'Available')
(11, 50820749, 'Canon Black EOS Rebel T6 EF-S IS Digital Camera with 18 Megapixels and 18-55mm Lens Included', 399.99, 0, 'Available')
(12, 47090515, 'Char-Broil Signature TRU-Infrared 3 Burner Gas Grill', 465.48, 0, 'Available')
(13, 39073013, 'ESPN Official Size Table Tennis Table with Table Cover', 349.0, 0, 'Available')
(14, 878167, 'Radio Flyer, Classic Red Dual Deck Tricycle, 12" Front Wheel, Red', 87.51, 0, 'Available')

In [21]:
# Create product review table from the product rating dataframe
prodRatingOver.to_sql(con=database_connection, name='prodratingsoverview', if_exists='replace')

In [22]:
# Create product review table from the product rating dataframe
mergedDF.to_sql(con=database_connection, name='combineddataframe', if_exists='replace')